{% extends "base.html" %}
{% block title %}Archive - {{ SITENAME }}{% endblock %}
{% block content %}

<div class="page-content">
{% set last_date = None %}
<dl id="archive">
{% for article in dates %}
    {% if last_date != article.date.year %}
    <dt>{{ article.date.year }}</dt>
    {% endif %}
    <dd>
    <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime("%b %d") }}</time>
    <a href="{{ SITEURL }}/{{ article.url }}"
         title="{{ article.locale_date }}: {{ article.summary|striptags|escape }}">
        {{ article.title }}
      </a>
    </dd>
    {% set last_date = article.date.year %}
{% endfor %}
</dl>
</div>
{% endblock %}
