{% extends "base.html" %}
{% block content %}

{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<div class='article'>
    <h2 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    <div class="article-content">{{ article.content }}</div>
</div>	
{% endfor %}
{% endif %}

<div class="pagination">
<ul>
    {% if articles_page.has_previous() %}
    {% set num = articles_page.previous_page_number() %}
    <li class="prev"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Previous</a></li>
    {% else %}
    <li class="prev disabled">&larr; Previous</li>
    {% endif %}
    {% if articles_page.has_next() %}
    <li class="next"><a href="{{ SITEURL }}/{{ articles_next_page.url }}">Next &rarr;</a></li>
    {% else %}
    <li class="next disabled">Next &rarr;</li>
    {% endif %}
</ul>
</div>

{% endblock %}
