@import url("pygments.css");

body {
    color: rgb(50, 50, 50);
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 0;
    font-size: 1.15em;
    line-height: 1.5em;
}

body > header {
    margin: 0;
    border-top: 5px solid rgb(203, 18, 22);
}

a {
    color: inherit;
}

a:hover {
   color: rgb(203, 18, 22);
}

ul#social {
    display: table;
    margin: 10px auto;
    width: 200px;
    -webkit-padding-start: 0;
}

ul#social li {
    list-style-type: none;
    display: table-cell;
    text-align: center;
}

h1, h2 {
    font-family: -apple-system-headline, 'SFProDisplay-Bold', -apple-system, system-ui, BlinkMacSystemFont;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

h1 a {
   color: rgb(203, 18, 22);
   text-decoration: none;
   font-size: 2em;
}

@media only screen and (max-width: 500px) {
    h1 a {
        font-size: 1.2em;
    }
}

nav#menu {
    font-family: 'SFProText-Bold', -apple-system, system-ui, BlinkMacSystemFont;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
}

nav#menu:after {
    content: "";
    clear: both;
    display: table;
}

nav#menu ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-padding-start: 0;
}

nav#menu ul li {
    display: table-cell;
    width: auto;
    list-style-type: none;
    text-align: center;
}

nav#menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

h2.article-title {
    font-size: 2.5em;
    padding: 0 10px;
    line-height: 1em;
    margin-bottom: 0;
}

div.article-content, div.page-content {
    line-height: 1.5em;
    font-family: -apple-system-body, -apple-system, system-ui, BlinkMacSystemFont;
    padding: 10px;
}

div.pagination {
    text-align: center;
}

div.pagination ul {
    width: auto;
    display: inline-block;
    list-style-type: none;
    -webkit-padding-start: 0;
}

div.pagination ul li {
    display: inline;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

div.pagination ul li.prev {
    margin-right: 20px;
}

div.pagination ul li.next {
    margin-left: 20px;
}

/*** About ***/

.left-column {
    float: left;
    min-width: 25%;
}

.right-column {
    float: left;
    width: 75%;
}

img#me {
    display: inline-block;
    margin-right: 1.2em;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
}

/*** Archive ***/

dl#archive {
    display: table;
}

dl#archive dt {
    font-size: 1.3em;
    color: #aaa;
}

dl#archive dd {
    margin: 20px 0 20px 40px;
}


@media only screen and (max-width: 320px) {
    dl#archive dd {
        margin-left: 0;
    }
}

dl#archive dt + dd {
    margin-top: 0;
}

dl#archive dd time {
    text-transform: uppercase;
    color: #aaa;
    font-weight: 600;
    font-size: 0.9em;
    vertical-align: text-top;
    display: table-cell;
    width: 100px;
}

dl#archive dd a {
    font-size: 1.3em;
    text-decoration: none;
    line-height: 1.3em;
    display: table-cell;
}

/*** Article ***/

header time.published {
    padding: 0 10px;
    font-family: -apple-system-subheadline, 'SFProDisplay-Bold', -apple-system, system-ui, BlinkMacSystemFont;
    color: #aaa;
}

blockquote {
    width: 85%;
    margin: 30px auto;
    padding-left: 1.5em;
    border-left: 4px solid rgb(221, 221, 221);
    color: #777;
}

div#disqus_thread {
    margin-top: 50px;
    padding: 10px;
}
