name: Deploy

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 15 * * *'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Build site
      run: TZ=America/Los_Angeles pelican content -o output -s publishconf.py

    - name: Add CNAME
      run: echo "www.scottberrevoets.com" > output/CNAME

    - uses: actions/upload-pages-artifact@v3
      with:
        path: output

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
